body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}

.grid > nav {
  grid-area: 1 / 1 / 2 / 2;
  padding: 5px;
  overflow-y: hidden;
  background-color: #60FFAA;
}

.grid > nav > ul {
  padding-top: 0.5em;
  list-style: none;
  padding-left: 4px;
}

.grid > nav > ul > li {
  font-size: 14pt;
}

.grid > nav > ul > li > div {
  border-bottom: 1px solid black;
  width: 100%;
}

.grid > nav > ul > li > ul {
  list-style: none;
  padding-left: 8px;
}

.grid > nav > ul > li > ul > li {
  font-size: 12pt;
  word-wrap: normal;
  text-indent: -1em;
  padding-left: 1em;
  padding-top: 0.1em;
}

.grid > nav > ul > li > ul > li > a {
  word-wrap: normal;
  text-decoration: none;
  color: blue;
}

.grid > nav > ul > li > ul > li > a:visited {
  color: blue;
}

.grid > main {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #d4ffe8;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.grid > main > article > section > table {
  max-width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

.grid > main > article > section > table > tbody {
  border: 1px solid black;
}

.grid > main > article > section > table > thead > tr {
  border: 1px solid black;
}

.grid > main > article > section > table > thead > tr > th {
  border: 1px solid black;
  padding: 1px;
  background-color: #60FFAA;
}

.grid > main > article > section > table > tbody > tr {
  border: 1px solid black;
}

.grid > main > article > section > table > tbody > tr > td {
  border: 1px solid black;
  padding: 1px;
}


.grid
  > main
  > article#commands
  > section
  > table
  > tbody
  > tr
  > td:nth-last-child(2) {
  width: 15%;
}

.grid
  > main
  > article#commands
  > section
  > table
  > tbody
  > tr
  > td:last-of-type {
  max-width: inherit;
  width: 70%;
  font-family: "Fira Code", monospace;
  background-color: darkslategrey;
  color: white;
}
.grid
  > main
  > article#reference-tables
  > section
  > table
  > tbody
  > tr:nth-child(even) {
  background-color: #C2FFDE;
}
