<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Shawn McNaughton" />
    <meta
      name="description"
      content="A Cheatsheet for common cryptography operations"
    />
    <meta
      name="keywords"
      content="key, certifcate, ssl, tls, rsa, openssl, command, keytool, pem"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <title>Crypto Cheatsheet</title>
    <link type="text/css" rel="stylesheet" href="css/custom.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon-precomposed" href="img/lock-152-58957.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="img/lock-144-58957.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="img/lock-152-58957.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="img/lock-144-58957.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="img/lock-120-58957.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="img/lock-114-58957.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="img/lock-72-58957.png"
    />
    <link rel="apple-touch-icon-precomposed" href="img/lock-57-58957.png" />
    <link rel="icon" href="img/lock-32-58957.png" sizes="32x32" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"
      integrity="sha512-sIqUEnRn31BgngPmHt2JenzleDDsXwYO+iyvQ46Mw6RL+udAUZj2n/u/PGY80NxRxynO7R9xIGx5LEzw4INWJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.6.0/hint.min.css" integrity="sha512-QOEm1kj/MLYTXR/tmHsaYTHCB5yabHN3mil5hUEpPGdLIx7u4u22sQeBm0JDBZqPiKL11iXyjfzKI1ImS/Z8Ig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="grid">
      <nav>
        <h1>Crypto Cheatsheet</h1>
        <ul></ul>
      </nav>
      <main></main>
    </div>
    <script>
        function clearTooltip(e) {
            e.currentTarget.setAttribute('class', 'code-example');
            e.currentTarget.removeAttribute('aria-label');
        }
        function showTooltip(e, msg) {
            e.setAttribute('class', 'code-example hint--left');
            e.setAttribute('aria-label', msg);
        }
        function addCopyTooltip(e) {
            e.currentTarget.setAttribute('class', 'code-example hint--left');
            e.currentTarget.setAttribute('aria-label', "Click to Copy");
        }
        function fallbackMessage(action) {
            var actionMsg = '';
            var actionKey = (action === 'cut' ? 'X' : 'C');
            if (/iPhone|iPad/i.test(navigator.userAgent)) {
                actionMsg = 'No support :(';
            } else if (/Mac/i.test(navigator.userAgent)) {
                actionMsg = 'Press ⌘-' + actionKey + ' to ' + action;
            } else {
                actionMsg = 'Press Ctrl-' + actionKey + ' to ' + action;
            }
            return actionMsg;
        }

        var snippets = document.querySelectorAll(".code-example");
        snippets.forEach((snippet) => {
            snippet.setAttribute("data-clipboard-snippet", "");
            snippet.addEventListener('mouseleave', clearTooltip);
            snippet.addEventListener('blur', clearTooltip);
            snippet.addEventListener('mouseover', addCopyTooltip);
        });
        var clipboardSnippets = new ClipboardJS("[data-clipboard-snippet]", {
          target: function (trigger) {
            return trigger;
          },
        });
        clipboardSnippets.on("success", function (e) {
          e.clearSelection();
          showTooltip(e.trigger, "Copied!");
        });
        clipboardSnippets.on("error", function (e) {
          showTooltip(e.trigger, fallbackMessage(e.action));
        });
      </script>
  </body>
</html>
