<html>

<head>
    <!-- <link type="text/css" rel="stylesheet" href="google-sheet.css"> -->
    <link type="text/css" rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira Code">
    <link href="themes/prism.css" rel="stylesheet" />
</head>

<body>
	<script src="prism.js"></script>
    <div class="grid">
        <nav>
            <h1>Crypto Cheatsheet</h1>
            <ul></ul>
        </nav>
        <main></main>
    </div>
</body>

</html>