<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Shawn McNaughton">
    <meta name="description" content="A Cheatsheet for common cryptography operations">
    <meta name="keywords" content="key, certifcate, ssl, tls, rsa, openssl, command, keytool, pem">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Crypto Cheatsheet</title>
    <link type="text/css" rel="stylesheet" href="css/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="img/lock-152-58957.png">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="img/lock-144-58957.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/lock-152-58957.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/lock-144-58957.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/lock-120-58957.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/lock-114-58957.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/lock-72-58957.png">
    <link rel="apple-touch-icon-precomposed" href="img/lock-57-58957.png">
    <link rel="icon" href="img/lock-32-58957.png" sizes="32x32">
</head>

<body>
    <div class="grid">
        <nav>
            <h1>Crypto Cheatsheet</h1>
            <ul></ul>
        </nav>
        <main></main>
    </div>
</body>

</html>